html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background: linear-gradient(45deg, rgb(36, 36, 58), rgb(35, 29, 87));
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
}
.brand {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.brand a {
  color: #f0f0f0;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}
.brand__img {
  width: 60px;
}
.header-links{
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 380px;
  
  box-sizing: border-box;
  justify-content: space-around;
}
.header-links a {
  color: #ffffff;
  text-decoration: underline;
}
.header-links a:hover {
  color: #ff8000;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background: linear-gradient(45deg, #203040, #3d5b7a);
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  height: max-content;
  flex-flow: column;
}

.copyright {
  height: 100px;
  width: max-content;
  
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Home Screen */
.products {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding-left: 10px;
  flex: 0 1 34rem;
  margin: 0.5rem;
  height: 50rem;
  border: 1px solid rgba(201, 201, 201, 0.473);
  border-radius: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Product Details */
.details {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: no-wrap;
  padding: 1rem;
  margin-top: 20px;
}
.details-image img {
  max-width: 50rem;
}
.details-info {
  flex: 1 1 35rem;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.details-aside {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.back-to-result {
  margin-top: 30px;
}
.back-to-result__a {
  padding: 0.7rem;
  border: 2px solid #21385096;
  border-radius: 5px;
  color: rgb(56, 56, 95);
  margin-left: 5px;
  transition: 0.1s;
}
.back-to-result__a:hover{
  color: rgb(28, 28, 43);
  border: 2px solid #13171b96;
  background: #f8f8f8;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
  width: 30%;
  margin-right: 30px;
  min-width: 300px;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
.details-action-list__status {
  display: flex;
  flex-flow: column;
}
.marked {
  width: max-content;
  font-weight: bold;
  margin: 10px 0;
}

/* Cart */
.cart-action__total {
  display: flex;
  flex-flow: column;
}
.cart-action__total span {
  margin: 9px 0;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.loading {
  border: 2px solid black;
  border-radius: 100%;
  position: fixed;
  top: 100px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 6;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 5rem;
  min-height: 100px;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-item {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  align-items: center;
}
.cart-item img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-item:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
  margin-right: 5px;
}
.cart-name {
  flex: 6 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2rem;
  text-align: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

.cart-name-settings {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.btn-cart-delete{
  margin: 0 15px 15px 0;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

.profile-table {
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
}

/* admin */
.dropdown-content {
  position: absolute;
  list-style-type: none;
  background-color: #213850;
  display: none;
  top: 48px;
  height: 30px;
  width: max-content;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0;
  right: 10px;
}

.dropdown-content li a {
  text-decoration: none;
  margin-right: 5px;
  padding: 7px;
  border: 2px solid #e7e7e7;
}

/* .dropdown:hover img {
  transform: rotateZ(180deg)
} */

.dropdown-admin {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.dropdown-admin img{
  margin-left: 5px;
  transition: 0.2s;
  transform: rotateZ(0deg);
}

.admin-link{
  color: rgb(32, 32, 32) !important;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  align-items: center;
  background: rgb(255, 174, 0);
  user-select: none;
  border-radius: 5px;
  padding: 3px;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 35px;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
  margin-left: 10px;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}

.user-info{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.user-info__block{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  min-width: 65px;
  margin-top: 5px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
}

.user-info__block img{
  margin-right: 5px;
}